body{
	background-color: #000;
	font-family: "poppins";
}
.container-fluid{
	margin: 0 12px 0 12px;
}
.header-color{
	background-color: #f2f5f7;

}
h3{
	margin: 25px 0 25px 25px;
	text-align: left;
}
h4{
	margin: 25px 0 25px 10px;
	text-align: left;
	font-size: 24px;
}

h5{
	margin: 25px;
	border-radius: 10px;	
}
.left-menu{
	border-radius: 40px;
}
.author-details{
	margin-left: 20px;
	color: #6a737b;
	font-size: 15px;
	font-weight: 600;
}
ul{
	margin: 25px 0;
	padding: 5px 0;
	float: right;
}
ul li{
	display: inline;
	padding: 28px 15px;
	font-weight: 500;
	font-size: 15px;
}
.header-new{
	border-bottom: 1px solid #e7ebee;
	margin-top: 5px;
}
.header-new-style{
	border-bottom: 1px solid #e7ebee;
}
.header{
	font-weight: 700;
	font-size: 14px;
	border-bottom: 4px solid #6dd6eb;
	border-
}
hr {
    margin-bottom: 15px;
    border-top: 2px solid #f2f5f7;
    margin-right: -9px;
    margin-left: 9px;
}
.book-design-right{
	position: relative;
    left: 250px;
    bottom: 93px;
    border-right: 4px dotted #9eb2bf;

}
.book-design-right1{
	position: relative;
    left: 238px;
    bottom: 93px;
    border-right: 4px dotted #9eb2bf;

}
.book-design-right2{
	position: relative;
    left: 235px;
    bottom: 93px;
    border-right: 4px dotted #9eb2bf;

}
.book-design-right3{
	position: relative;
    left: 240px;
    bottom: 93px;
    border-right: 4px dotted #9eb2bf;

}
.book-design-right4{
	position: relative;
    left: 235px;
    bottom: 93px;
    border-right: 4px dotted #9eb2bf;

}
.book-details{
	margin: 75px 25px 30px 25px;
	background-color: #fff;
	padding: 10px 10px 3px 10px;
}
.book-details1{
	margin: 90px 25px 30px 25px;
	background-color: #fff;
	padding: 10px 10px 3px 10px;
}
.img-view{
	margin: -45px 0 0 9px;
}
.comment-details{
	border-radius: 100px;
	margin: 0 5px;
}
.customer-review{
	font-size: 12px;
	color: #7c8389;
	margin-left: 10px;
    font-weight: 700;
}
.book1-details{
	font-size: 16px;
	color: #556069;
	font-weight: 600;
	margin: 30px;
	position: absolute;
	top: 10px;
}
.book1-details-review{
	font-size: 14px;
	font-weight: 540;
	margin: 5px 0;
	color: #cccccc;
}
.glyphicon{
	color: #ff9700;
	padding: 1px;
	font-size: 12px;
}
.star{
	color: #cccccc;
}
.votes-details{
	color: #cccccc;
	font-size: 12px;
	font-weight: 600;
}
.lorem-details{
	margin-top: 10px;
	color: #cccccc;
	font-size: 12px;
	font-weight: 500;
	position: relative;
	top: 15px;
}
.book-store{
	margin-top: 10px;
}
.book-store-details{
	margin-top: -20px;
}
.big-magic-book{
	margin-left: 20px;
	font-size: 14px;
	color: #556069;
	font-weight: 550;
	line-height: 26px;
	position: absolute;
}
.author-name{
	color: #5f6163;
	font-size: 14px;
	font-weight: 520;

}
.col-md-5{
	width: 33.33333333%;
	float: right;
	margin-left: 34px;
}
.col-md-7{
	width: 33.33333333%;
	float: right;
	margin-right: 34px;
}

/* media query for mobile  */

@media only screen and (max-width: 768px) {

h4{
	margin: 25px 30px 25px 0px;
	text-align: center;
	font-size: 24px;
}
ul{
	margin: 5px 0;
	padding: 5px 0;
	float: right;
}
ul li{
	display: inline;
	padding: 28px 18px 20px 25px;
	font-weight: 500;
	font-size: 15px;
}
.book-details{
	margin: 100px 25px 30px 25px;
	background-color: #fff;
	padding: 10px 10px 3px 10px;
}
.header{
	font-weight: 700;
	font-size: 14px;
	border-bottom: 0px solid #6dd6eb;
}
.book-design-right{
	display: none;
}
.img-view{
	margin: -25px 0 0 9px;
}
.lorem-details{
	margin-top: 10px;
	color: #cccccc;
	font-size: 9px;
	font-weight: 500;
	position: relative;
	top: -7px;
}
.lorem-details-2{
	margin-top: 10px;
	color: #cccccc;
	font-size: 8px;
	font-weight: 500;
	position: relative;
	top: -5px;
}
.book1-details {
    font-size: 16px;
    margin: 30px;
    position: absolute;
    top: -25px;

}
.book1-details-review {
    font-size: 12px;
    font-weight: 540;
    margin: 5px 0;
    color: #cccccc;
}
.votes-details1 {
    color: #cccccc;
    font-size: 10px;
    font-weight: 600;
}
.glyphicon-new{
	color: #ff9700;
	padding: 1px;
	font-size: 10px;
}
.col-md-5{
	display: none;
}
.col-md-7{
	display: none;
}
}